<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>BP_konfig</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <context-param>
        <param-name>konfig</param-name>
        <param-value>jprimora_konfig.txt</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.jprimora.web.slusaci.SlusacPokretac</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GeoMeteoSOAP</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.jprimora.web.slusaci.Kontroler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoMeteoSOAP</servlet-name>
        <url-pattern>/GeoMeteoSOAP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/privatno/PregledTransakcija</url-pattern>
        <url-pattern>/Kontroler</url-pattern>
        <url-pattern>/privatno/PregledPodataka</url-pattern>
        <url-pattern>/privatno/PregledTransakcijaFilter</url-pattern>
        <url-pattern>/privatno/DodajSredstva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>NWTiS-Privatno</display-name>
        <web-resource-collection>
            <web-resource-name>NWTiS-Privatno</web-resource-name>
            <description/>
            <url-pattern>/privatno/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>NWTiS-Privatno</description>
            <role-name>korisnik</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>INTEGRAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>NWTiS-Form</realm-name>
        <form-login-config>
            <form-login-page>/jsp/prijava.jsp</form-login-page>
            <form-error-page>/jsp/errorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>korisnik</role-name>
    </security-role>
</web-app>
